


<html>
<head>
<title>Servix</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<h1 style="text-align: center; background-color:white;,font-size: 640px;">SERVIX</h1></div>

<body>
	<div class="menu-bar">
<ul>
<li ><a href=""><h3 align="left"> </h3></a></li>	 
<li class="active"><a href=" #"><i class="bi bi-house"></i>Home</a></li>



<li><a href=" log.html"><i class="bi bi-person"></i>Login</a>

</li>
  	

    <li><a href=" #"><i class="bi bi-person"></i>Register</a>
<div class="sub-menu-1">
    <ul>
      <li ><a href="User.html">Customer<i class="bi bi-caret-right-fill"></i></a></li>
      <li ><a href="reg.html">Worker<i class="bi bi-caret-right-fill"></i></a></li>
      
      
    </ul>
  </div>
</li>




<li><a href=" #"><i class="bi bi-telephone-fill"></i>Contact</a>
<div class="sub-menu-1">
  	<ul>
  		<li><a href=" #">Email:<br>servix@gmail.com<i class="bi bi-caret-right-fill"></i></a></li>
      <li><a href=" #">General Enquires:<br>8545454545,<br>35545444<i class="bi bi-caret-right-fill"></i></a></li>
  	</ul>
  </div>
</li>
</ul>
</div>

 
  <div>
    <img src="https://thumbs.dreamstime.com/b/text-caption-presenting-anytime-anywhere-concept-meaning-saying-you-can-do-something-every-place-moment-typing-228547610.jpg" width="1330PX" height="400px">
</div>
<br>
<h4 style="text-align: center; background-color:rgba(214, 27, 90, 0.808);,font-size: 150px;"><marquee  direction="left" >
ALL SERVICES AT ONE CLICK
</marquee></h4>

</div>

 <div class="container">
 	<p><h1 align="center"> WELCOME TO SERVIX</h1></p>
 	
    <ul>
      <li><h1 align="center",background="white">About Us</h1>
      	<br>
        <h4 style="color: rgba(32, 14, 14, 0.753)"><p> Servex is an online website where you can avail workers online in a short time <br><br>
         the website is free of use and any body who wishes to hire a worker can register our website and avail workers in no time<br><br> Any body who has is experienced and skilled in any trade can register here as woker and can job with out any registration fees.<br> <br>the website is designed to help skilled workers to find job </p>

        </li>
   
<li><h1 align="center",background="green">Objectives<br><br></h1>
<h4 style="color: rgba(32, 4, 4, 0.774)"><p> Free of cost registration to help un employed workers to find job<br><br> avail all services in just one click<br><br> scheduled services</h4></p>
</li>
  <li><h1 align="center",background="green">Contact Us</h1><br><br>
  <h4 style="color: rgba(49, 13, 13, 0.842)"><p> Email:servex@gmail.com<br><br> General Enquires:98765444444<br><br> Technical issues:555555344</p></h4></li>
      

    </ul>
  </div> 
  <h3 style="text-align: center; background-color:rgba(214, 27, 90, 0.808);,font-size: 100px;">Servix Copyright reserved</h3>


</body>
</html>


